body {
  background-color: #DDD;
  background-image: url("../img/paper.png");
  background-repeat: repeat;
  color: #181818; }

.container {
  max-width: 750px;
  margin: 20px auto; }

.flashes {
  max-width: 960px;
  margin: 80px auto 0 auto; }

.paper {
  padding: 25px 15px;
  text-align: center;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.4), inset 0 0 50px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.4), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.4), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.4), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.4), inset 0 0 50px rgba(0, 0, 0, 0.1); }
  .paper:before, .paper:after {
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 12px;
    background: transparent;
    -webkit-transform: rotate(-3deg) scale(1) skew(-5deg);
    -moz-transform: rotate(-3deg) scale(1) skew(-5deg);
    -ms-transform: rotate(-3deg) scale(1) skew(-5deg);
    -o-transform: rotate(-3deg) scale(1) skew(-5deg);
    transform: rotate(-3deg) scale(1) skew(-5deg);
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 0 transparent;
    -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 transparent;
    -ms-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 transparent;
    -o-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 transparent;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 transparent;
    z-index: -1; }
  .paper:after {
    left: auto;
    right: 12px;
    -webkit-transform: rotate(3deg) scale(1) skew(5deg);
    -moz-transform: rotate(3deg) scale(1) skew(5deg);
    -ms-transform: rotate(3deg) scale(1) skew(5deg);
    -o-transform: rotate(3deg) scale(1) skew(5deg);
    transform: rotate(3deg) scale(1) skew(5deg); }

h1, h2, h3 {
  font-weight: 400; }

div.stitch {
  padding: 5px;
  background-color: #008000;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4), inset 0 0 35px 35px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4), inset 0 0 35px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4), inset 0 0 35px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4), inset 0 0 35px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4), inset 0 0 35px rgba(0, 0, 0, 0.2); }
  div.stitch h1 {
    border: 1px dashed #ddd;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.7), inset 2px 1px 6px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.7), inset 2px 1px 6px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.7), inset 2px 1px 6px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.7), inset 2px 1px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.7), inset 2px 1px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 60px;
    font-variant: normal;
    text-shadow: #444444 -1px -1px;
    color: #ddd;
    padding: 20px 35px;
    margin: 0;
    background-color: transparent;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px; }

div.content {
  padding: 20px 10px; }
  div.content h2, div.content h3, div.content p {
    font-family: 'Numans', sans-serif;
    font-variant: small-caps;
    font-size: 20px;
    text-align: left; }
  div.content h2, div.content h3 {
    font-size: 25px;
    border-bottom: 1px solid #222; }
  div.content p {
    padding-left: 20px; }
  div.content blockquote {
    margin: 0;
    padding: 0; }
    div.content blockquote p {
      white-space: pre; }
  div.content p.author {
    padding-right: 20px;
    text-align: right;
    font-style: italic; }

form.nice input.input-text, form.nice textarea, form.nice a, form.nice input[type=submit] {
  font-family: 'Numans', sans-serif;
  font-variant: small-caps;
  font-weight: 400; }
form.nice input.input-text, form.nice textarea {
  font-size: 20px; }
form.nice textarea {
  height: 140px;
  resize: none; }
form.nice a {
  margin-left: 20px; }
form.nice p#maximum {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 15px; }
