@mixin box-shadow($x, $y, $blur, $spread, $color, $inset_x: 0, $inset_y: 0, $inset_blur: 0, $inset_spread: 0, $inset_color: transparent) {
    -webkit-box-shadow: $x $y $blur $spread $color, inset $inset_x $inset_y $inset_blur $inset_spread $inset_color;
       -moz-box-shadow: $x $y $blur $spread $color, inset $inset_x $inset_y $inset_blur $inset_color;
        -ms-box-shadow: $x $y $blur $spread $color, inset $inset_x $inset_y $inset_blur $inset_color;
         -o-box-shadow: $x $y $blur $spread $color, inset $inset_x $inset_y $inset_blur $inset_color;
            box-shadow: $x $y $blur $spread $color, inset $inset_x $inset_y $inset_blur $inset_color;
}

@mixin box-shadow-inset($x, $y, $blur, $color) {
    -webkit-box-shadow: inset $x $y $blur $color;
       -moz-box-shadow: inset $x $y $blur $color;
        -ms-box-shadow: inset $x $y $blur $color;
         -o-box-shadow: inset $x $y $blur $color;
            box-shadow: inset $x $y $blur $color;
}

@mixin border-radius($top, $right, $bottom, $left) {
    -webkit-border-radius: $top $right $bottom $left;
       -moz-border-radius: $top $right $bottom $left;
        -ms-border-radius: $top $right $bottom $left;
         -o-border-radius: $top $right $bottom $left;
            border-radius: $top $right $bottom $left;
}

@mixin transform($rotate, $scale, $skew) {
    -webkit-transform: $rotate $scale $skew;
       -moz-transform: $rotate $scale $skew;
        -ms-transform: $rotate $scale $skew;
         -o-transform: $rotate $scale $skew;
            transform: $rotate $scale $skew;
}

@mixin linear-gradient($where, $from, $to) {
    background: $from;
    background: -webkit-linear-gradient($where, $from, $to);
    background:    -moz-linear-gradient($where, $from, $to);
    background:     -ms-linear-gradient($where, $from, $to);
    background:      -o-linear-gradient($where, $from, $to);
}

@mixin radial-gradient($from, $to) {
    background: $from;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from($from), to($to));
    background: -webkit-radial-gradient($from, $to);
    background:    -moz-radial-gradient($from, $to);
    background:     -ms-radial-gradient($from, $to);
    background:      -o-radial-gradient($from, $to);
    background:         radial-gradient($from, $to);  
}

@mixin transition($what, $duration) {
    -webkit-transition: $what $duration;
    -moz-transition:    $what $duration;
    -ms-transition:     $what $duration;
    -o-transition:      $what $duration;
    transition:         $what $duration;
}
