@import "utils";
@import "paper";

body {
    background-color: #DDD;
    background-image: url("../img/paper.png");
    background-repeat: repeat;
    color: #181818;
}

.container {
    max-width: 960px;
    margin: 20px auto;
}

.flashes {
    max-width: 960px;
    margin: 80px auto 0 auto;
}

.paper {
    padding: 25px 15px;
    text-align: center;
    @include paper;
}

h1, h2, h3 {
    font-weight: 400;
}

div.stitch {
    padding: 5px;
    background-color: #008000;
    // background-color: rgb(180, 210, 90);
    @include border-radius(3px, 3px, 3px, 3px);
    @include box-shadow(0, 0, 0, 0, rgba(0, 0, 0, 0.4), 0, 0, 35px, 35px, rgba(0, 0, 0, 0.2));
    h1 {
        border: 1px dashed #ddd;
        @include box-shadow(0, 0, 3px, 0, rgba(0, 0, 0, 0.7), 2px, 1px, 6px, 4px, rgba(0, 0, 0, 0.1));
        font-family: 'Monsieur La Doulaise', cursive;
        font-size: 60px;
        font-variant: normal;
        text-shadow: #444 -1px -1px;
        color: #ddd;
        padding: 20px 35px;
        margin: 0;
        background-color: transparent;
        @include border-radius(3px, 3px, 3px, 3px);
    }
}

div.content {
    padding: 20px 10px;
    h2, h3, p {
        font-family: 'Numans', sans-serif;
        font-variant: small-caps;
        font-size: 20px;
        text-align: left;
    }
    h2, h3 {
        font-size: 25px;
        border-bottom: 1px solid #222;
    }
    p {
        padding-left: 20px;
    }
    blockquote {
        margin: 0;
        padding: 0;
        p {
            white-space: pre;
        }
    }
    p.author {
        padding-right: 20px;
        text-align: right;
        font-style: italic;
    }
}


form.nice {
    input.input-text, textarea, a, input[type=submit] {
        font-family: 'Numans', sans-serif;
        font-variant: small-caps;
        font-weight: 400;
    }
    input.input-text, textarea {
        font-size: 20px;
    }
    textarea {
        height: 140px;
        resize: none;
    }
    a {
        margin-left: 20px;
    }
    p#maximum {
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
        font-style: italic;
        font-size: 15px;
    }
}