{% extends "base.html" %}
{% block title %}Grüße{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=800" />
    <link href="http://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/impress.css')}}" rel="stylesheet" />
{% endblock %}
{% block body %}
    {#
    <div class="fallback-message">
        <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
        <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
    </div>
    #}

    {#
        
        Hint is not related to impress.js in any way.
        
        But it can show you how to use impress.js features in creative way.
        
        When the presentation step is shown (selected) its element gets the class of "active" and the body element
        gets the class based on active step id `impress-on-ID` (where ID is the step's id)... It may not be
        so clear because of all these "ids" in previous sentence, so for example when the first step (the one with
        the id of `bored`) is active, body element gets a class of `impress-on-bored`.
        
        This class is used by this hint below. Check CSS file to see how it's shown with delayed CSS animation when
        the first step of presentation is visible for a couple of seconds.
        
        ...
        
        And when it comes to this piece of JavaScript below ... kids, don't do this at home ;)
        It's just a quick and dirty workaround to get different hint text for touch devices.
        In a real world it should be at least placed in separate JS file ... and the touch content should be
        probably just hidden somewhere in HTML - not hard-coded in the script.
        
        Just sayin' ;)
        
    #}
    <div class="hint">
        <p>Benutze die Leertaste oder die Pfeiltasten, um durch die Grüße zu blättern.</p>
    </div>
    <script>
    if ("ontouchstart" in document.documentElement) { 
        document.querySelector(".hint").innerHTML = "<p>Tippe auf die rechte oder linke Seite, um zu blättern.</p>";
    }
    </script>

    <div id="impress">
        <!--div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
        </div-->
        {% include 'greet.html' %}
    </div>
{% endblock %}
{% block javascript %}
    {{ super() }}
    {#
        
        Last, but not least.
        
        To make all described above really work, you need to include impress.js in the page.
        I strongly encourage to minify it first.
        
        In here I just include full source of the script to make it more readable.
        
        You also need to call a `impress().init()` function to initialize impress.js presentation.
        And you should do it in the end of your document. Not only because it's a good practice, but also
        because it should be done when the whole document is ready.
        Of course you can wrap it in any kind of "DOM ready" event, but I was too lazy to do so ;)

    #}
    <script src="{{ url_for('static', filename='impress.js/js/impress.js')}}"></script>
    <script>
        $(document).ready(function(){
            var api = impress();
            api.init();
            var intervalID = setInterval(function() {
                var lastid = $("#impress .step").last().attr("id").split("slide")[1];
                $.get("{{ url_for('are_there_new_greets') }}", {lastid: lastid},
                    function(data){
                        if (data === "yes") {
                            window.location.href = "{{ request.base_url }}#/slide" + lastid;
                            window.location.reload();
                        } else {
                            api.next();
                        }
                    }
                ).error(function() { api.next(); });
            }, 5000);
        });
    </script>
    {#
        
        The `impress()` function also gives you access to the API that controls the presentation.
        
        Just store the result of the call:
        
            var api = impress();
        
        and you will get three functions you can call:
        
            `api.init()` - initializes the presentation,
            `api.next()` - moves to next step of the presentation,
            `api.prev()` - moves to previous step of the presentation,
            `api.goto( idx | id | element, [duration] )` - moves the presentation to the step given by its index number
                    id or the DOM element; second parameter can be used to define duration of the transition in ms,
                    but it's optional - if not provided default transition duration for the presentation will be used.
        
        You can also simply call `impress()` again to get the API, so `impress().next()` is also allowed.
        Don't worry, it wont initialize the presentation again.
        
        For some example uses of this API check the last part of the source of impress.js where the API
        is used in event handlers.

    #}
{% endblock %}