{% extends "base.html" %}
{% block title %}Zeug{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width" />
    <link href="http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Numans" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/libs/modernizr-2.5.3.min.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="main paper">
        <div class="stitch">
            <h1>Rebecca &amp; Patrick</h1>
        </div>
        <div class="content">
            <h2>Wann?</h2>
            <p>Am Samstag, den 11. August 2012, um 12.45 Uhr.</p>
            <h2>Wo?</h2>
            <p>Im Trauzimmer des Alten Rathauses in Suhl.</p>
            <h2>Und die Fete?</h2>
            <p>Direkt im Anschluss in der Klosterkapelle im BTZ Rohr. Beginn ist um 14.30 Uhr.</p>
            <h2>{% if mobile %}Grüße{% else %}Hinterlasse einen Gruß{% endif %}</h2>
            {% if mobile %}   
                {% for q in greets %}
                    <blockquote>
                        <p class="message">{{ q.message }}</p>
                    </blockquote>
                    <p class="author">— {{ q.author }}</p>
                {% endfor %}
                <h3>Hinterlasse selbst einen Gruß</h3>
            {% endif %}
            <form class="nice" action="{{ url_for('index') }}" method="POST">
                <input name="from" class="input-text" type="text" placeholder="Von" />
                <textarea name="message" class="expand"></textarea>
                <input type="submit" value="Absenden" class="large radius green button" />{% if not mobile %}<a class="large radius button" href="{{ url_for('greets') }}">Grüße ansehen</a>{% endif %}
            </form>
        </div>
    </div>
{% endblock %}