{% extends "base.html" %}
{% block title %}Zeug{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width" />
    <link href="http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Numans" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/libs/modernizr-2.5.3.min.js') }}"></script>
{% endblock %}
{% block body %}
    <div role="main" class="main paper">
        <div class="stitch">
            <h1>Rebecca &amp; Patrick</h1>
        </div>
        <div class="content">
            <h2>Wann?</h2>
            <p>Am Samstag, den 11. August 2012, um 12.45 Uhr.</p>
            <h2>Wo?</h2>
            <p>Im Trauzimmer des Alten Rathauses in Suhl.</p>
            <h2>Und die Fete?</h2>
            <p>Direkt im Anschluss in der Klosterkapelle im BTZ Rohr. Beginn ist um 14.30 Uhr.</p>
            <h2>Gruß hinterlassen</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'danjou-de';
                var disqus_developer = 1; // developer mode is on

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Du musst leider JavaScript in deinem Browser aktivieren, um einen Gruß zu hinterlassen.</noscript>
            <!--a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a-->
            <h3><a href="{{ url_for('greets') }}">Grüße ansehen</a></h3>
        </div>
    </div>
{% endblock %}